<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>SEVS</title>
    <!-- google fonts -->
    <link href="//fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;0,700;1,600&display=swap" rel="stylesheet">
    <!-- Template CSS -->
    <link rel="stylesheet" href="static/assets/css/style-starter.css">
</head>

<body>
    <!--/Header-->
    <header id="site-header" class="fixed-top">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light stroke py-lg-0">
                <h1><a class="navbar-brand" href="index.html">
                        <span class="sub-color">SEVS</span> FOR JB
                    </a></h1>
                <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
                    <span class="navbar-toggler-icon fa icon-close fa-times"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarScroll">
                    <ul class="navbar-nav mx-lg-auto my-2 my-lg-0 navbar-nav-scroll">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="result">Result</a>
                        </li>
                       
                        <li class="nav-item">
                            <a class="nav-link" href="#footer">Contact</a>
                        </li>
                    </ul>
                    <!--/search-->
                    <!-- <button id="trigger-overlay" class="searchw3-icon me-xl-4 me-lg-3" type="button"><i class="fas fa-search"></i></button> -->
                    <!-- open/close -->
                    <!-- <div class="overlay overlay-slidedown">
                        <button type="button" class="overlay-close"><i class="fas fa-times"></i></button>
                        <nav class="w3l-formhny">
                            <form action="#" method="GET" class="d-sm-flex search-header">
                                <input class="form-control me-2" type="search" placeholder="Search here..." aria-label="Search" required>
                                <button class="btn btn-style btn-secondary me-lg-3" type="submit">Search</button>
                            </form>
                        </nav>
                    </div> -->
                    <!--//search-->
                </div>
                <!-- toggle switch for light and dark theme -->
                <div class="mobile-position">
                    <nav class="navigation">
                        <div class="theme-switch-wrapper">
                            <label class="theme-switch" for="checkbox">
                                <input type="checkbox" id="checkbox">
                                <div class="mode-container">
                                    <i class="gg-sun"></i>
                                    <i class="gg-moon"></i>
                                </div>
                            </label>
                        </div>
                    </nav>
                </div>
                <!-- //toggle switch for light and dark theme -->
            </nav>
        </div>
    </header>
    <!--//Header-->
    <!--/Banner-Start-->
    <!-- main-slider -->
    <section class="w3l-main-slider banner-slider" id="home">
        <div class="owl-one owl-carousel owl-theme">
            <div class="item">
                <div class="slider-info banner-view banner-top1">
                    <div class="container">
                        <div class="banner-info header-hero-19">
                            <p class="w3hny-tag">Redefining Democracy</p>
                            <h3 class="title-hero-19">From Ballot to Brilliance:</h3>
                            <p class="w3ban-para">Shape Tomorrow, Today! <span class="w3-xtrap"></span> </p>
                            <a href="#footer" class="btn btn-style btn-primary mt-sm-5 mt-4">Read More <i class="fas fa-angle-double-right ms-2"></i></a>

                        </div>
                    </div>
                </div>
            </div>
     
        </div>
        <div class="w3l-stats-section stats-con mt-5">
            <div class="stats_info counter_grid ps-0">
                <p class="counter">{{v}} </p>
                <h3>Voters</h3>
            </div>
            <div class="stats_info counter_grid">
                <p class="counter">{{e}}</p>
                <h3>ELECTIONS</h3>
            </div>

        </div>

    </section>
    <!-- //main-slider -->
    <!--/grids-->
    

    <!--/w3-grids-->
    <section class="w3l-passion-mid-sec home-phny py-5">
        <div class="container py-md-5 py-3">
            <div class="container">
                <div class="row w3l-passion-mid-grids">
                    <div class="col-lg-6 passion-grid-item-info pe-lg-5 mb-lg-0 mb-5">
                        <h6 class="title-subw3hny mb-1">Welcome to</h6>
                        <h3 class="title-w3l mb-4">SEVS for JB: A Secure E-Voting System for JaiBharath College</h3>
                        <p class="mt-3 pe-lg-5">A secure and transparent electronic voting system designed exclusively for JaiBharath College to facilitate a smooth, confidential, and accurate election process that adheres to our university’s protocols.<br>
                            
                            Our platform leverages state-of-the-art cryptographic solutions, such as homomorphic encryption and zero-knowledge proofs, ensuring privacy-preserving vote tallying and verifiable, tamper-resistant voting. With a focus on end-to-end verification, secure voter authentication, and an auditable paper trail, SEVS for JB guarantees that your vote is both secure and accountable, while following the strict guidelines set by JaiBharath College's electoral process.
                        
                            
                            </p>

                    </div>
                    <div class="col-lg-6 w3hny-passion-item">
                        <div class="row">
                            
                            <div class="col-12 passion-grid-item-pic">
                                <br><br>
                                <img src="static/assets/images/v1.png" alt="" class="img-fluid radius-image">
                            </div>
                            

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--//w3-grids-->
    <!-- features section -->
    <section class="w3l-features py-5" id="work">
        <div class="container py-lg-5 py-md-4 py-2">
            <div class="title-content text-center mb-lg-3 mb-4">
                <h6 class="title-subw3hny mb-1">What We Do</h6>
                <h3 class="title-w3l">Empowering Secure Elections with Advanced Encryption and Trust.</h3>
            </div>
            <div class="main-cont-wthree-2">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6 mt-lg-5 mt-4">
                        <div class="grids-1 box-wrap">
                            <div class="icon">
                                <i class="fas fa-shield-alt"></i>
                            </div>
                            <h4><a href="#service" class="title-head mb-3">Secure Voting Process</a></h4>
                            <p class="text-para">We use cutting-edge cryptographic methods like homomorphic encryption to protect vote privacy and ensure that each vote remains secure and untampered.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mt-lg-5 mt-4">
                        <div class="grids-1 box-wrap">
                            <div class="icon">
                                <i class="fas fa-lock"></i>
                            </div>
                            <h4><a href="#service" class="title-head mb-3">End-to-End Verification</a></h4>
                            <p class="text-para">Our system enables voters to verify their votes, ensuring that every vote is correctly recorded, counted, and traceable without compromising privacy.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mt-lg-5 mt-4">
                        <div class="grids-1 box-wrap">
                            <div class="icon">
                                <i class="fas fa-balance-scale"></i>
                            </div>
                            <h4><a href="#service" class="title-head mb-3">Audit and Compliance</a></h4>
                            <p class="text-para">We generate an auditable paper trail for each vote and follow JaiBharath College's election protocols to ensure integrity, compliance, and accountability in every election.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--//features section -->
    <!--/Gallery-Section-->
    <section class="w3l-gallery" id="gallery">
        <div class="destionation-innf py-5">
            <div class="container py-lg-5 py-md-4 py-2 HomePageGallery">
                <div class="title-content text-center">
                    <h6 class="title-subw3hny text-center">Gallery</h6>
                    <h3 class="title-w3l mb-5 text-center">Our Campus</h3>
                </div>
                <!--/grids-grids-->
                <ul class="gallery_agile">
                    <li>
                        <div class="w3_agile_portfolio_grid">
                            <a href="static/assets/images/j1.jpeg">
                                <img src="static/assets/images/j1.jpeg" alt=" " class="img-fluid radius-image" />
                                <div class="w3layouts_news_grid_pos">
                                    <div class="wthree_text">
                                        <h3>Jaibharath</h3>
                                        <p>Gallery</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="w3_agile_portfolio_grid">
                            <a href="static/assets/images/jai2.jpeg">
                                <img src="static/assets/images/jai2.jpeg" alt=" " class="img-fluid radius-image" />
                                <div class="w3layouts_news_grid_pos">
                                    <div class="wthree_text">
                                        <h3>Jaibharath</h3>
                                        <p>Gallery</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="w3_agile_portfolio_grid">
                            <a href="static/assets/images/jai3.jpeg">
                                <img src="static/assets/images/jai3.jpeg" alt=" " class="img-fluid radius-image" />
                                <div class="w3layouts_news_grid_pos">
                                    <div class="wthree_text">
                                        <h3>Jaibharath</h3>
                                        <p>Gallery</p>
                                    </div>
                                </div>
                            </a>
                        </div>

                    </li>
                    <li>
                        <div class="w3_agile_portfolio_grid">
                            <a href="static/assets/images/j4.jpeg">
                                <img src="static/assets/images/j4.jpeg" alt=" " class="img-fluid radius-image" />
                                <div class="w3layouts_news_grid_pos">
                                    <div class="wthree_text">
                                        <h3>Jaibharath</h3>
                                        <p>Gallery</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="w3_agile_portfolio_grid">
                            <a href="static/assets/images/j5.jpeg">
                                <img src="static/assets/images/j5.jpeg" alt=" " class="img-fluid radius-image" />
                                <div class="w3layouts_news_grid_pos">
                                    <div class="wthree_text">
                                        <h3>Jaibharath</h3>
                                        <p>Gallery</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="w3_agile_portfolio_grid">
                            <a href="static/assets/images/j6.jpeg">
                                <img src="static/assets/images/j6.jpeg" alt=" " class="img-fluid radius-image" />
                                <div class="w3layouts_news_grid_pos">
                                    <div class="wthree_text">
                                        <h3>Jaibharath</h3>
                                        <p>Gallery</p>
                                    </div>
                                </div>
                            </a>
                        </div>

                    </li>
                    <li>
                        <div class="w3_agile_portfolio_grid">
                            <a href="static/assets/images/j7.jpeg">
                                <img src="static/assets/images/j7.jpeg" alt=" " class="img-fluid radius-image" />
                                <div class="w3layouts_news_grid_pos">
                                    <div class="wthree_text">
                                        <h3>Jaibharath</h3>
                                        <p>Gallery</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="w3_agile_portfolio_grid">
                            <a href="static/assets/images/j8.jpg">
                                <img src="static/assets/images/j8.jpeg" alt=" " class="img-fluid radius-image" />
                                <div class="w3layouts_news_grid_pos">
                                    <div class="wthree_text">
                                        <h3>Jaibharath</h3>
                                        <p>Gallery</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="w3_agile_portfolio_grid">
                            <a href="static/assets/images/j9.jpeg">
                                <img src="static/assets/images/j9.jpeg" alt=" " class="img-fluid radius-image" />
                                <div class="w3layouts_news_grid_pos">
                                    <div class="wthree_text">
                                        <h3>Jaibharath</h3>
                                        <p>Gallery</p>
                                    </div>
                                </div>
                            </a>
                        </div>

                    </li>
                </ul>
                <!--//rids-grids-->
            </div>
        </div>
    </section>
    <!--//Gallery-Section-->
    <!--/w3-grids-->
        

    
    <section class="w3l-testimonials" id="testimonials">
        <!-- /grids -->
        <div class="cusrtomer-layout py-5">
            <div class="container py-lg-4 py-md-3 py-2 pb-lg-0">

                <div class="title-content text-center">
                    <h6 class="title-subw3hny">Testimonials</h6>
                    <h3 class="title-w3l mb-5">Reviews of
                        our Users</h3>
                </div>
                <!-- /grids -->
                <div class="testimonial-width pt-lg-4">
                    <div class="row justify-content-center">
                        <div class="item col-lg-4 col-md-6">
                            <div class="testimonial-content">
                                <div class="testimonial">
                                    <div class="test-img"><img src="static/assets/images/p.png" class="img-fluid" alt="client-img">
                                    </div>
                                    <blockquote>
                                        <i class="fas fa-quote-right"></i>
                                        <q>Transparent and Secure: "Using SEVS FOR JB for our college elections ensured transparency and security. The platform's robust features allowed us to conduct elections smoothly, maintaining the integrity of the process."</q>
                                    </blockquote>
                                    <div class="testi-des">
                                        <div class="peopl align-self">
                                            <h3>Amritha</h3>
                                            <p class="indentity">BSc Cyber Forensic</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item col-lg-4 col-md-6">
                            <div class="testimonial-content">
                                <div class="testimonial">
                                    <div class="test-img"><img src="static/assets/images/p.png" class="img-fluid" alt="client-img">
                                    </div>
                                    <blockquote>
                                        <i class="fas fa-quote-right"></i>
                                        <q>Highly Recommended: "Highly recommend SEVS FOR JB for any institution looking to streamline their election process. With its comprehensive tools and excellent support, managing our college elections has never been easier."</q>
                                    </blockquote>
                                    <div class="testi-des">
                                        <div class="peopl align-self">
                                            <h3>Hazbi</h3>
                                            <p class="indentity">BSc Cyber Forensic</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item col-lg-4 col-md-6">
                            <div class="testimonial-content">
                                <div class="testimonial">
                                    <div class="test-img"><img src="static/assets/images/p.png" class="img-fluid" alt="client-img">
                                    </div>
                                    <blockquote>
                                        <i class="fas fa-quote-right"></i>
                                        <q>Efficient and User-Friendly Platform: "SEVS FOR JB provided a seamless experience for our college elections. The platform's user-friendly interface made the entire process from nomination to voting efficient and hassle-free."</q>
                                    </blockquote>
                                    <div class="testi-des">
                                        <div class="peopl align-self">
                                            <h3>Fathima</h3>
                                            <p class="indentity">BSc Cyber Forensic</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /grids -->
        </div>
        <!-- //grids -->
    </section>
    <!--//testimonials-->
    <!--/footer-9-->
    <footer class="w3l-footer9" id="footer">
        <section class="footer-inner-main py-5">
            <div class="container py-md-3">
                <div class="right-side">
                    <div class="row footer-hny-grids sub-columns">
                        <div class="col-lg-3 sub-one-left">
                            <h6>About </h6>
                            <p class="footer-phny pe-lg-5">SEVS for JB is a secure electronic voting platform designed for JaiBharath College elections. We ensure privacy, accuracy, and transparency through cutting-edge encryption, voter authentication, and end-to-end verification, all while adhering to the university's election protocols. Our system guarantees secure, auditable, and trustworthy elections for the student body.</p>
                            <div class="columns-2 mt-lg-5 mt-4">
                                
                            </div>
                        </div>
                        <div class="col-lg-3 sub-two-right">
                            <h6>Services</h6>
                            <ul>
                                <li><a href="/login"><i class="fas fa-angle-right"></i> Creating Election</a>
                                </li>
                                <li><a href="/login"><i class="fas fa-angle-right"></i> Maintaining Hods and Faculties</a>
                                </li>
                                <li><a href="/login"><i class="fas fa-angle-right"></i> Adding Students</a>
                                </li>
                                <li><a href="/login"><i class="fas fa-angle-right"></i> E - Roll Publication</a>
                                </li>
                                <li><a href="/login"><i class="fas fa-angle-right"></i> Voting</a></li>


                            </ul>
                        </div>
                        <div class="col-lg-3 sub-two-right">
                            <h6>Our Links</h6>
                            <ul class="social">
                                <li><a href="#facebook"><span class="fab fa-facebook-f"></span></a>
                                </li>
                                <li><a href="#linkedin"><span class="fab fa-linkedin-in"></span></a>
                                </li>
                                <li><a href="#twitter"><span class="fab fa-twitter"></span></a>
                                </li>
                                <li><a href="#google"><span class="fab fa-google-plus-g"></span></a>
                                </li>

                            </ul>
                        </div>
                        <div class="col-lg-3 sub-one-left">
                            <h6>Terms </h6>
                            <div class="row fposts-grid-inner mb-4">
                                
                                <div class="col-8 fposts-grid-right">
                                    <p>
                                        All voter information is kept confidential and handled in accordance with relevant data privacy laws. In case of any disputes, the decision of the Electoral Officer is final and binding.</a>
                                    </p>
                                   
                                </div>
                            </div>
                            
                            
                           
                        </div>
                    </div>
                </div>
                <div class="below-section mt-5">
                    <div class="copyright-footer">
                        <div class="columns text-left">
                            <p>© SEVS</a></p>
                        </div>
                        
                        
                    </div>

                </div>
            </div>
        </section>

        <!-- Js scripts -->
        <!-- move top -->
        <button onclick="topFunction()" id="movetop" title="Go to top">
            <span class="fas fa-level-up-alt" aria-hidden="true"></span>
        </button>
        <script>
            // When the user scrolls down 20px from the top of the document, show the button
            window.onscroll = function() {
                scrollFunction()
            };

            function scrollFunction() {
                if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                    document.getElementById("movetop").style.display = "block";
                } else {
                    document.getElementById("movetop").style.display = "none";
                }
            }

            // When the user clicks on the button, scroll to the top of the document
            function topFunction() {
                document.body.scrollTop = 0;
                document.documentElement.scrollTop = 0;
            }

        </script>
        <!-- //move top -->
    </footer>
    <!--//footer-9 -->

    <!-- Template JavaScript -->
    <script src="static/assets/js/jquery-3.3.1.min.js"></script>
    <script src="static/assets/js/theme-change.js"></script>
    <!--/search-->
    <script src="static/assets/js/modernizr.custom.js"></script>
    <script src="static/assets/js/classie.js"></script>
    <script src="static/assets/js/demo1.js"></script>
    <!--//search-->
    <!-- MENU-JS -->
    <script>
        $(window).on("scroll", function() {
            var scroll = $(window).scrollTop();

            if (scroll >= 80) {
                $("#site-header").addClass("nav-fixed");
            } else {
                $("#site-header").removeClass("nav-fixed");
            }
        });

        //Main navigation Active Class Add Remove
        $(".navbar-toggler").on("click", function() {
            $("header").toggleClass("active");
        });
        $(document).on("ready", function() {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
            $(window).on("resize", function() {
                if ($(window).width() > 991) {
                    $("header").removeClass("active");
                }
            });
        });

    </script>
    <!-- //MENU-JS -->

    <!-- disable body scroll which navbar is in active -->
    <script>
        $(function() {
            $('.navbar-toggler').click(function() {
                $('body').toggleClass('noscroll');
            })
        });

    </script>
    <!-- //disable body scroll which navbar is in active -->
    <!-- //bootstrap -->
    <script src="static/assets/js/bootstrap.min.js"></script>

{% if messages %}
{% for msg in messages %}
<script>alert("{{msg}}")</script>
{% endfor %}
{% endif %}

</body>

</html>